Aula_DataScience/AulaPratica_Titanic/Untitled.ipynb
Aula_DataScience/AulaPratica_Titanic/AulaAntiga.ipynb
Aula_DataScience/AulaPratica_Titanic/AulaPraticaDS-AulaCompleta.ipynb
Aula_DataScience/AulaPratica_Titanic/.ipynb_checkpoints/